<div class="container">
    <h1 class="text-center my-3 user_profile">User Profile</h1>

    <div class="login-card"><img class="profile-img-card" src="assets/img/user.png" />
        <p class="profile-name-card"></p>
        <div class="row">
            <div class="col-md-6"><p class="text-center"><strong>ID:</strong> {{ user.userId }}</p></div>
            <div class="col-md-6"><p class="text-center"><strong>Username:</strong> {{ user.username }}</p></div>
        </div>
       
        <div class="row">
            <div class="col-md-6"><p class="text-center"><strong>Email:</strong> {{ user.email }}</p></div>
            <div class="col-md-6"><p class="text-center"><strong>Age:</strong> {{ user.age }}</p></div>
        </div>

        <div class="row">
            <div class="col-md-6"><p class="text-center"><strong>UserType:</strong> {{ user.userType }}</p></div>
            <div class="col-md-6"><p class="text-center"><strong>Password:</strong> 
                *******
            </p></div>
        </div>
        
        <div class="row">
            <div class="col-md-12"><p class="text-center my-2"><a class="btn btn-primary edit_profile_btn" routerLink="/editProfile/{{userId}}">Edit Profile</a></p></div>
        </div>
        
    </div>
</div>