<h1 class="text-center my-5 customer_dashboard_title">Customer Dashboard</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/viewFlights" class="view_flights_link">
                <div class="card-body">
                    <img src="../../assets/img/flight.png" class="customer_dashboard_img" alt="">
                    <h5 class="text-center my-3">View All Flights</h5>
                    <p class="text-muted text-center">Here you can view all the flights which are registered.</p>
                </div>
                </a>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/bookTicket" class="view_flights_link">
                <div class="card-body">
                    <img src="../../assets/img/book.png" class="customer_dashboard_img" alt="">
                    <h5 class="text-center my-3">Book a ticket</h5>
                    <p class="text-muted text-center">In this you can book a ticket for your journey.</p>
                </div>
                </a>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/viewBookings" class="view_flights_link">
                <div class="card-body">
                    <img src="../../assets/img/booking.png" class="customer_dashboard_img" alt="">
                    <h5 class="text-center my-3">View your Bookings</h5>
                    <p class="text-muted text-center">Here you can view your bookings done in the past.</p>
                </div>
                </a>
              </div>
        </div>
    </div>
</div>