<h1 class="text-center my-5 customer_dashboard_title">Admin Dashboard</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/viewFlights" class="view_flights_link">
                <div class="card-body">
                    <img src="../../assets/img/flight.png" class="customer_dashboard_img" alt="">
                    <h5 class="text-center my-3">View All Flights</h5>
                    <p class="text-muted text-center">Here admin can view all the flights which are registered.</p>
                </div>
                </a>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/registerFlight" class="view_flights_link">
                <div class="card-body">
                    <img src="../../assets/img/edit.png" class="customer_dashboard_img" alt="">
                    <h5 class="text-center my-3">Register a Flight</h5>
                    <p class="text-muted text-center">In this admin can register a flight for your journey.</p>
                </div>
                </a>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/viewAllBookings" class="view_flights_link">
                <div class="card-body">
                    <img src="../../assets/img/booking.png" class="customer_dashboard_img" alt="">
                    <h5 class="text-center my-3">View all Bookings</h5>
                    <p class="text-muted text-center">Here admin can view all the bookings done in the past.</p>
                </div>
                </a>
              </div>
        </div>
    </div>
</div>